<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @schedule.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @schedule.status %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
